

.container-section h1 {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
  /* margin-left: 350px; */

  }
.skill-list {
  display: grid;
  grid-gap: 25px;
  padding: 30px 0px 26px;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  justify-content: center;
  margin: 0;
  
}

@import url(https://fonts.googleapis.com/css?family=Lato:400,600,700);
.snip1527 {
  /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.15); */
  color: #ffffff;
  float: left;
  font-family: "Lato", Arial, sans-serif;
  font-size: 16px;
  margin: 10px 50px;
  max-width: 200px;
  min-width: 200px;
  overflow: hidden;
  position: relative;
  /* text-align: left; */
  width: 100%;

  cursor:pointer;
  border-radius:30px;
  border:3px solid rgba(249, 249,249,0.1);

  box-shadow:rgb(0 0 0 / 69%) 0px 26px 30px -10px,
  rgb(0 0 0 / 73%) 0px 16px 10px -10px;
  transition:all 250ms cubic-bezier(025,0.46,0.45,0.94) 0s;
  


}

.snip1527 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.snip1527 img {
    height:100%;
    width:100%;
    object-fit:cover;
  vertical-align: top;
  position: relative;
}

.snip1527 figcaption {
  padding: 25px 20px 25px;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

.snip1527 figcaption:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #700877;
  content: "";
  background: -moz-linear-gradient(
    90deg,
    #700877 0%,
    #ff2759 100%,
    #ff2759 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    #700877 0%,
    #ff2759 100%,
    #ff2759 100%
  );
  background: linear-gradient(90deg, #700877 0%, #ff2759 100%, #ff2759 100%);
  opacity: 0.8;
  z-index: -1;
}


.snip1527 p {
  margin-left: 50px;
  padding: 0;
}

.snip1527 p {
  font-size: 0.8em;
  line-height: 1.6em;
  margin-bottom: 0px;
}

.snip1527:hover img,
.snip1527.hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);

  
}

/* Demo purposes only */

@media (max-width: 768px){




  .skill-list{ 
     display: grid;
    /* grid-template-columns: auto; */
    grid-template-columns: repeat(2, minmax(0, 1fr));
    justify-content: center;
    margin: 0;

    }


    .snip1527 {
        /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.15); */
        color: #ffffff;
        float: left;
        font-family: "Lato", Arial, sans-serif;
        font-size: 16px;
        margin: 10px 1%;
        max-width: 210px;
        min-width: 200px;
        overflow: hidden;
        position: relative;
        /* text-align: left; */
        width: 100%;
      
        cursor:pointer;
        border-radius:30px;
        border:3px solid rgba(249, 249,249,0.1);
      
        box-shadow:rgb(0 0 0 / 69%) 0px 26px 30px -10px,
        rgb(0 0 0 / 73%) 0px 16px 10px -10px;
        transition:all 250ms cubic-bezier(025,0.46,0.45,0.94) 0s;
        
      
      
      }

      .snip1527 p {
        margin-left: 60px;
        padding: 0;
      }
    
}
    