.project-section {
    padding: 40px;
    margin-top: 50px;
  }
  
  .project-section h2 {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .project-list {
    
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .project-card {
    transform-style: preserve-3d;
    background-color:white;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0px 2px 4px rgba(31, 53, 150,
     0.1);
 
    background: linear-gradient(
      219deg,
      rgb(99, 78, 141) 33%,
      rgb(214, 160, 73) 100%
    );
    &:hover{
      box-shadow:rgb(0 0 0 / 69%) 0px 26px 30px -10px,
  rgb(0 0 0 / 73%) 0px 16px 10px -10px;
      transform:scale(1.05);
      border-color:rgba(249,249,249,0.8);
    }

  }
  
  .project-card img {
    position: relative;
    width: 90%;
    height: 200px;
    transition: all 0.5s ease;

  
  }
  
  .project-card h3 {
    font-size: 30px;
    margin-bottom: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .project-card p {
    margin-bottom: 20px;
  }
  
  .project-card a {
margin-left: 130px;
    cursor: pointer;
    width: 50%;
margin-top: 10px;
    border-radius: 30px;
    padding: 0.8rem 1.5rem;
    font-weight: bold;
    border: none;
    font-size: 1rem;
    letter-spacing: 1px;
    background-color: rgba(248, 177, 60, 1);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
 

  }
  
  .project-card a:hover {
    background-color: rgb(207, 174, 121);
    /* transition: ease-in-out; */
  }
  

  @media (max-width: 768px){
    .project-list {
     display: flex;
     flex-direction: column;
    }
    
    .project-card img {
      max-width: 100%;
      margin-bottom: 20px;
      border-radius: 5px;
    }

  
    .project-card a {
      
      margin-left: 100px;
      /* transitpion: ease-in-out; */
    }
    


    }
  /* Add any additional styling or animations as desired */
  