.footer {
  background: linear-gradient(
    219deg,
    rgba(75, 53, 118, 1) 33%,
    rgba(248, 177, 60, 1) 100%
  );
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  .footer-content {
    text-align: center;
    margin-top: 20px;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .social-icon {
    color: #333;
    font-size: 24px;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
  }
  
  .social-icon:hover {
    color: #007bff;
  }
  